<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Store Catalog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body style="background:black">
	<nav class="navbar navbar-default" style="background:white">
  		<div class="container-fluid">
    		<div class="navbar-header">
    			<div class="logo">
    				<img src="../images/logo.png" style="width:150px; height:115px"/>
    			</div>
    		</div>
    		<ul class="nav navbar-nav">
    			<li class="active"><a href="#" style="font-size: 2em">Home</a></li>
    			<li><a href="#" style="font-size: 2em">Computers</a></li>
    			<li><a href="#" style="font-size: 2em">Smartphones</a></li>
    			<li><a href="#" style="font-size: 2em">Accesories</a></li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
    			<li><a href="#"><span class="glyphicon glyphicon-shopping-cart" style="font-size: 2em"></span></a></li>
    			<li><a href="#" style="font-size: 2em"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    		</ul>
    	</div>
    </nav>
    <div class="container">
    	<div class="row">
    		<div th:each="entry,status : ${products}" class="col-sm-4 col-lg-4 col-md-4">
    			<div class="thumbnail">
    				<img src="http://placehold.it/320x150" alt=""/>
    				<div class="caption">
    					<h4 class="pull-right"><a>$</a><a th:text="${entry.price}"/></h4>
    					<h4><a href="#" th:text="${entry.name}"/></h4>
    					<p th:text="${entry.description}"/>
    				</div>
    				<div>
    					<button class="btn btn-success col-md-5"><span class="glyphicon glyphicon-search"/> Details</button>
    					<button class="btn btn-primary col-md-offset-2 col-md-5"><span class="glyphicon glyphicon-shopping-cart"/> Add to cart</button>
    				</div>
    				<div class="ratings">
    					<p class="pull-right">15 reviews</p>
    					<p>
    						<span class="glyphicon glyphicon-star"></span>
    						<span class="glyphicon glyphicon-star"></span>
    						<span class="glyphicon glyphicon-star"></span>
    						<span class="glyphicon glyphicon-star"></span>
    						<span class="glyphicon glyphicon-star"></span>
    					</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>