<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Product Detail</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body style="background: black">
<nav class="navbar navbar-default" style="background: white">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="logo">
					<a th:href="@{/catalog}"><img src="/images/kabekiru_main_logo_header.png"/></a>
				</div>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="@{/catalog/category/(category_id=${1})}" style="font-size: 1em">Laptops</a></li>
				<li><a th:href="@{/catalog/category/(category_id=${3})}" style="font-size: 1em">Desktops</a></li>
				<li><a th:href="@{/catalog/category/(category_id=${2})}" style="font-size: 1em">Smartphones</a></li>
				<li><a th:href="@{/catalog/category/(category_id=${4})}" style="font-size: 1em">VR</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#" th:href="@{/cart}"><span class="glyphicon glyphicon-shopping-cart" style="font-size: 1em"></span></a>
				</li>
				<li th:if="${userLogged == null}">
					<a href="#" th:href="@{/login}" style="font-size: 1em"><span class="glyphicon glyphicon-log-in"></span> Login</a>
				</li>
				<li th:if="${userLogged != null}">
					<a href="#" th:href="@{/login}" style="font-size: 1em"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<div th:each="entry,status : ${product}" class="container">
				<div class="thumbnail">
				<h4 class="pull-rigth">Fotografía</h4>
					<img th:src="${entry.image_url}" height="400" width="400"/>
					
				</div>
				<div class="caption pull-left">
						<h4>Nombre:
							<a href="" th:text="${entry.name}"/>
						</h4>
						<h4>Categoria:
							<a href="" th:text="${entry.category.name}"/>
						</h4>
						<h4>Unidades Disp.:
							<a href="" th:text="${entry.unitsOnStock}"/>
						</h4>
						<h4>Descripción:
							<a href="" th:text="${entry.description}"/>
						</h4>
						<h4>Precio:
							<a>$</a><a th:text="${entry.price}"/>
						</h4>
					</div>
					<div class="caption pull-rigth">
						 <a th:href="@{/addCart/{id}(id=${entry.id})}" class="btn btn-primary pull-right">
						<span class="glyphicon glyphicon-shopping-cart" /> Add to Cart
						</a>
					</div>
			</div>
		</div>
	</div>
	
	<div id="footer" style="background: white">
		<div class="container">
			<div class="row">
				<h3 class="footertext">About the site:</h3>
				<div class="col-md-4">
					<center>
						<img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains"/> <br/>
						<h4 class="footertext">Developers</h4>
						<p class="footertext"/>
							Dennis Madriz<br/>
							Fernando Solano<br/>
							Gustavo Solano<br/>
					</center>
				</div>
				<div class="logo col-md-4">
					<center><img src="/images/kabekiru_main_logo.png" style="width: 197px; height: 151px" /></center>
				</div>
				<div class="logo col-md-4">
					<center><img src="/images/spring_logo.png" style="width: 188px; height: 110px" /></center>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>